
#root{
  width: 100%;
}

.sprite-wrapper {
  position: relative;
}

.comic-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, rgba(0,0,0,0.2) 1px, transparent 1px);
  background-size: 5px 5px;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 1;
  opacity: 0.5;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* Ajusta el gutter entre columnas */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem; /* Ajusta el gutter entre columnas */
  background-clip: padding-box;
}

/* Añadir espacio entre los elementos dentro de cada columna */
.my-masonry-grid_column > img {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  display: block;
}